@font-face {
  font-family: "CookieOTF";
  src: url("../CookieRunFont_OTF/CookieRun\ Regular.otf") format("woff"),
    url("../CookieRunFont_OTF/CookieRun\ Bold.otf") format("woff"),
    url("../CookieRunFont_OTF/CookieRun\ Black.otf") format("woff");
}

html {
  /* font-size: 1.1vw; */
}
* {
  transition: 0.7s;
  font-family: "CookieOTF";
}
/* animateModel */
.disapear,
.disapear * {
  opacity: 0 !important;
  height: 0 !important;
  z-index: 0 !important;
  position: relative;
  top: 30px;
}
.normal {
  z-index: 10 !important;
}
/* Start */
#welcome {
  text-align: center;
  margin-top: 8%;
  font-size: 2.8125rem;
  font-weight: bold;
  letter-spacing: 10px;
}
#welcome.change {
  letter-spacing: 25px;
  margin-top: 13%;
  opacity: 0;
  height: 0;
}
#isYourName {
  text-align: center;
  font-size: 2.625rem;
}
#yourName {
  font-size: 62px;
  text-align: center;
  font-weight: bold;
  margin-top: 75px;
}
#yourName.change {
  font-size: 102px;
  margin-top: 30px;
}
#nameConfirmBtns {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}
#nameConfirmBtns.disapear {
  margin-top: -30px;
  height: auto !important;
}
#testImg {
  width: 300px;
  height: 300px;
}
/* 채팅 */
#chooseForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#prompt {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  z-index: 1000;
}
#nextBtn {
  width: 20%;
  margin: 30px auto;
}
#status {
  height: 20%;
  padding: 15px;
}
#statusBars {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  grid-column-gap: 30px;
}
#statusBars > div {
  display: flex;
  gap: 25px;
}
#statusBars > div > div {
  display: flex;
  justify-content: space-between;
  margin: 10px 5px;
  font-weight: bold;
  text-align-last: left;
  width: 35%;
}
#statusBars > div > div > p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}
.statusBar {
  height: 30px;
  margin-top: 10px;
  margin: 10px auto;
  border-radius: 1000px;
  overflow: hidden;
}
.statusRealBar {
  height: 30px;
}
#lifeHappy {
  grid-column-start: 1;
  grid-column-end: 3;
}
#lifeHappy > div:not(.statusBar) {
  width: 20% !important;
}
#today {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 60px;
}
#explain {
  margin-top: 50px;
  font-size: 26px;
}
#chooseYou {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-top: 100px;
}
/* color */
.gray {
  color: #999;
}
/* .danger {
  color: red;
} */
